In [1]:
import pandas as pd
import os
from collections import Counter
pd.set_option("display.precision", 8)

In [2]:
trades = pd.read_csv('../temporary/trades_cleaned.csv')

## Get Distribution of Trade Sizes

In [3]:
freq = Counter(trades['amount'])
trade_sizes = pd.DataFrame(freq.items(), columns = ['trade_size', 'frequency'])
trade_sizes.sort_values(by = 'frequency')

         trade_size  frequency
7270706  0.03189204          1
3353661  0.69139439          1
5961432  0.07799818          1
3353663  0.15888787          1
3353664  0.16832524          1
...             ...        ...
27       0.10000000      15865
1963     0.00500000      15967
189      1.00000000      17963
481      0.01000000      21631
12280    0.00010000      30010

[7270707 rows x 2 columns]

In [14]:
K = len(trades) #gives amount of total trades ~40million
trade_sizes['p'] = trade_sizes['frequency']/K #unsure if this is right way to do it, but sum(p) = 1

In [20]:
trade_sizes[trade_sizes['trade_size'] == 0.00202160]

        trade_size  count           p
775717   0.0020216     33  0.00000082

In [ ]:
def match_trades(data, interval):
    data.resample(str(time)).agg({'counter':'sum'})

In [25]:
1.0-(1.0-0.0000763)**4083.0

0.26768518737623015