In [6]:
import pandas as pd
import os

In [13]:
trades = pd.read_csv('../temporary/trades_cleaned.csv')

In [14]:
pd.set_option("display.precision", 8)

In [16]:
trades[trades['date'] == '2021-03-15 14:42:27']

                         date       tid       price      amount Currency
35957766  2021-03-15 14:42:27  51372237  4509989.63  0.00022173      INR
35957767  2021-03-15 14:42:27  51372224    42000.04  0.00047619      GBP