In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
pd.set_option("display.precision", 8)

In [16]:
trades = pd.read_csv('../temporary/trades_cleaned.csv', parse_dates = ['date'], infer_datetime_format = True)
trades

,date,tid,price,amount,Currency,counter
0,2017-03-15 00:00:13,6277278,2.64900700e+04,0.07550000,MXN,1
1,2017-03-15 00:00:15,100281,4.12698413e+06,0.03150000,VEF,1
2,2017-03-15 00:00:15,6277265,1.29297000e+03,0.65740000,USD,1
3,2017-03-15 00:00:24,6277292,1.06800000e+03,0.11000000,GBP,1
4,2017-03-15 00:00:40,6277296,1.06293000e+03,0.11760000,GBP,1
...,...,...,...,...,...,...
42636057,2022-09-28 01:55:04,56510551,8.40412643e+07,0.00285574,COP,1
42636058,2022-09-28 01:55:10,56510558,1.80295800e+04,0.03189204,USD,1
42636059,2022-09-28 01:55:10,56510556,2.16994700e+04,0.00553009,USD,1
42636060,2022-09-28 01:57:02,56510553,2.00452200e+04,0.00249436,USD,1
42636061,2022-09-28 01:59:11,56510550,2.88917139e+07,0.00346120,KRW,1

## Get Distribution of Trade Sizes

In [3]:
freq = Counter(trades['amount'])
trade_sizes = pd.DataFrame(freq.items(), columns = ['trade_size', 'frequency'])
trade_sizes.sort_values(by = 'frequency')
trade_sizes

         trade_size  frequency
0        0.07550000        106
1        0.03150000        414
2        0.65740000          1
3        0.11000000       2384
4        0.11760000         46
...             ...        ...
7413009  0.13503517          1
7413010  0.02979257          1
7413011  0.07398786          1
7413012  0.15726642          1
7413013  0.03189204          1

[7413014 rows x 2 columns]

In [4]:
K = len(trades) #gives amount of total trades ~40million
trade_sizes['p'] = trade_sizes['frequency']/K #unsure if this is right way to do it, but sum(p) = 1
trade_sizes

         trade_size  frequency           p
0        0.07550000        106  0.00000249
1        0.03150000        414  0.00000971
2        0.65740000          1  0.00000002
3        0.11000000       2384  0.00005592
4        0.11760000         46  0.00000108
...             ...        ...         ...
7413009  0.13503517          1  0.00000002
7413010  0.02979257          1  0.00000002
7413011  0.07398786          1  0.00000002
7413012  0.15726642          1  0.00000002
7413013  0.03189204          1  0.00000002

[7413014 rows x 3 columns]

In [5]:
trade_sizes[trade_sizes['trade_size'] == 0.00202160]

        trade_size  frequency          p
813522   0.0020216         34  0.0000008

In [14]:
def get_trades(data, window):
    
    t = str(window) + 'h'
    
    data.sort_values(['amount', 'date'], inplace=True)
    data['tid2'] = data['tid'].shift(-1)
    data['date2'] = data['date'].shift(-1)
    data['amount2'] = data['amount'].shift(-1)
    data['Currency2'] = data['Currency'].shift(-1)
    data['time_diff'] = data['date2'] - data['date']
    df = data[(data['time_diff'] <= (t)) & (data['amount'] == data['amount2'])]
    
    return df

In [26]:
matched_trades = get_trades(trades, 5)
matched_trades

,date,tid,price,amount,Currency,counter,tid2,date2,amount2,Currency2,time_diff
391382,2017-04-11 09:07:59,6665631,12100.00,0.00010000,SEK,1,6668557.0,2017-04-11 12:59:13,0.00010000,RUB,0 days 03:51:14
394342,2017-04-11 12:59:13,6668557,69800.00,0.00010000,RUB,1,124343.0,2017-04-11 16:43:51,0.00010000,VEF,0 days 03:44:38
397921,2017-04-11 16:43:51,124343,7000000.00,0.00010000,VEF,1,124361.0,2017-04-11 16:56:52,0.00010000,VEF,0 days 00:13:01
430674,2017-04-13 19:29:19,126268,6000000.00,0.00010000,VEF,1,126281.0,2017-04-13 19:47:37,0.00010000,VEF,0 days 00:18:18
430905,2017-04-13 19:47:37,126281,6000000.00,0.00010000,VEF,1,126296.0,2017-04-13 20:07:35,0.00010000,VEF,0 days 00:19:58
...,...,...,...,...,...,...,...,...,...,...,...
6787452,2018-03-26 08:03:27,13042184,7233.53,138.24508919,EUR,1,13042185.0,2018-03-26 08:03:48,138.24508919,EUR,0 days 00:00:21
6787457,2018-03-26 08:03:48,13042185,7233.53,138.24508919,EUR,1,13042186.0,2018-03-26 08:04:11,138.24508919,EUR,0 days 00:00:23
6787481,2018-03-26 08:05:10,13042188,7011.27,142.62751256,EUR,1,13042189.0,2018-03-26 08:05:48,142.62751256,EUR,0 days 00:00:38
18361628,2019-01-25 11:55:10,24804904,3094.44,161.58012435,EUR,1,24804905.0,2019-01-25 11:55:42,161.58012435,EUR,0 days 00:00:32
5972259,2018-02-08 07:39:18,12229828,5333.11,187.50785189,EUR,1,12229829.0,2018-02-08 07:40:11,187.50785189,EUR,0 days 00:00:53

In [27]:
matched_trades.to_csv('../temporary/matched_trades.csv', index=False)

# Code Testing